---
import { Icon } from "astro-icon";

const { heading, contacts } = Astro.props;
---
<section class="bg-white dark:bg-zinc-800 p-16 rounded-b-md">
  <h2 class="font-mono font-medium text-2xl mb-8">{heading}</h2>
  <footer class="relative flex items-center justify-center p-8 rounded-b-md">
      <ul id="contact" class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
        {contacts.map((contact) => (
          <li>
            <a
              class="flex items-center justify-center w-16 h-16 p-4 border-2 border-teal-300 hover:border-teal-200 dark:border-teal-500 dark:hover:border-teal-400 rounded-full"
              href={contact.link}
              aria-label={contact.name}
            >
              <span class="sr-only">{contact.name}</span>
              <Icon class="h-full" name={contact.icon} />
            </a>
          </li>
        ))}
      </ul>
    </footer>
</section>
